.menu {
  position: absolute;
  user-select: none;
  display: none;
  flex-direction: column;
  gap: var(--space-4);
  background-color: var(--accent-2);
  padding: var(--space-4);
  border-bottom: 1px solid var(--gray-a5);
  border-bottom-right-radius: var(--radius-3);
  border-bottom-left-radius: var(--radius-3);
  top: 100%;
  left: 0;
  right: 0;

  .navMenu {
    display: flex;
    flex-direction: column;
    gap: var(--space-5);
    align-items: flex-start;
  }
}