.header {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-2);
    border-bottom: 1px solid var(--gray-a5);
    backdrop-filter: blur(64px);
    position: relative;
    z-index: var(--header-z-index);
    height: var(--header-height);
}
